<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="AWSProfileName" value="development"/>
		<add key="AWSRegion" value="us-west-2" />

    <add key="QlikAppInstanceName" value="QlikAppDemo"/>
    <add key="QlikAppInstanceType" value="t2.micro"/>
    <add key="QlikAppInstanceImageId" value="ami-6781bc57"/>
    <add key="QlikAppInstanceSubnetId" value="subnet-4e54ce2b"/>
    <add key="QlikAppInstanceKeyPairName" value="Ariel1"/>

    <add key="QlikAppVpcId" value="vpc-96ab29f3"/>
    <add key="QlikAppSecurityGroupName" value="qlik-demo-security-group"/>
    <add key="QlikAppSecurityGroupDescription" value="Security group for Qlik Demo"/>
    <add key="QlikAppSecurityGroupIpRanges" value="0.0.0.0/0"/>
    <add key="QlikAppSecurityGroupIpPermissions" value="tcp3389,tcp80"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
