.messagePane {
  width: 600px;
  padding: 10px;
  background-color: #bedeed; }
  .messagePane .container {
    width: 100%; }
    .messagePane .container .message {
      margin: 10px;
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background-color: #c3e3c8; }
      .messagePane .container .message:hover {
        background-color: #a0d3a8; }
        .messagePane .container .message:hover .info:after {
          content: "i";
          color: blue; }
        .messagePane .container .message:hover .delete:after {
          content: "X";
          color: red; }
      .messagePane .container .message .id {
        font-size: 12px;
        text-align: right; }
      .messagePane .container .message .info, .messagePane .container .message .delete {
        display: inline;
        float: right;
        clear: both; }

.messagePoster {
  width: 600px;
  padding: 10px;
  background-color: #bedeed; }
  .messagePoster .header {
    margin-bottom: 10px; }
  .messagePoster .container {
    width: 100%;
    padding: 0 10px; }
    .messagePoster .container TEXTAREA {
      width: 95%; }

BODY > .footer {
  margin-top: 15px;
  font-size: 10px; }
